/* Kicktarter */
.kickstarter {
	margin: 0 auto;
	padding: 34px 162px 0 162px;
	width: 940px;
	height: 60px;
	background-color: #2b2b2b;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
		position: relative;
		left: -162px;
		top: -60px;
		margin-bottom: -58px;
		float: left;
}

.kickstarter.project {
	top: 0px;
	margin-bottom: 0;
}

.kickstarter a {
	color: #fff;
	text-decoration: underline;
}

.kickstarter a:hover {
	color: #98ca45;
	text-decoration: underline;
}

.kickstarter .kickstarter-logo {
	padding-right: 10px;
	margin-bottom: -4px;
}

#kickstart-countdown {
	color: #98ca45;
	display: inline-table;
	margin-bottom: -5px;
	padding-left: 8px;
}